{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
{% endblock head %}

{% block styleCss %}
{% comment %} body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif} {% endcomment %}
.w3-bar-block .w3-bar-item {padding:20px}
{% endblock styleCss %}

{% block title %}
Student Details
{% endblock title %}
{% block body %}
<nav class="w3-sidebar  w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px;margin-top: 190px;" id="mySidebar">
    <div class="text-center">
    <a  href="javascript:void(0)" style="padding:20px 200px" onclick="w3_close()"class="w3-bar-item w3-button">Close Menu</a></div>
    <div class="text-center"><a style="padding:20px 200px" href="/StudentDetails" class="w3-bar-item w3-button">Basic Details</a></div>
    <div class="text-center"><a style="padding:20px 200px" href="/updateDetails" onclick="w3_close()" class="w3-bar-item w3-button">Update Details</a></div>
    <div class="text-center"><a style="padding:20px 200px" href="#about" onclick="w3_close()" class="w3-bar-item w3-button">View Timetable</a></div>
    <div class="text-center"><a style="padding:20px 200px" href="" onclick="w3_close()" class="w3-bar-item w3-button">Fees</a></div>
    <div class="text-center"><a style="padding:20px 200px" id="demo" href="{% url 'logoutStudent' %}" class="w3-bar-item w3-button">Log Out</a></div>
    
    
</nav>

<div class="w3-top" style="position: relative;top: 10px;">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto; ">
      <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">&#9776;</div>
      <div><h1 class="text-center">This is the Details of student named {{studentDetails.username}}</h1></div>
      
    </div>
  </div>
<div class="text-center table " style="width: 70%;margin: 53px auto;font-size: 25px;">

  <table class="w3-table-all w3-card-4 table-striped table-hover">
    <tr>
      <th scope="row">1</th>
      <th>First Name</th>
      <th>{{studentDetails.firstname}}</th>
    </tr>
    <tr>
      <th scope="row">2</th>
      <th>Last Name</th>
      <th>{{studentDetails.lastname}}</th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <th>Phone Number</th>
      <th>{{studentDetails.phone}}</th>
    </tr>
    <tr>
      <th scope="row">4</th>
      <th>Primarry Email Address</th>
      <th>{{studentDetails.primaryEmail}}</th>
    </tr><tr>
      <th scope="row">5</th>
      <th>Alternate Email Address</th>
      <th>{{studentDetails.alternateEmail}}</th>
    </tr><tr>
      <th scope="row">6</th>
      <th>Password</th>
      <th>{{studentDetails.password}}</th>
    </tr><tr>
      <th scope="row">7</th>
      <th>Roll Number</th>
      <th>{{studentDetails.rollno}}</th>
    </tr><tr>
      <th scope="row">8</th>
      <th>Date of Birth</th>
      <th>{{studentDetails.birthDate}}</th>
    </tr>
    <tr>
      <th scope="row">9</th>
      <th>gender</th>
      {% if studentDetails.gender == 'M' %}
        <th>Male</th>
      {% else %}
        <th>Female</th>
      {% endif %}
      
    </tr>
    <tr>
      <th scope="row">12</th>
      <th>Stream</th>
      {% if studentDetails.stream == 'Sci' %}
        <th>Science</th>
      {% elif studentDetails.stream == 'Com' %}
        <th>Commerce</th>
      {% else %}
        <th>Arts</th>
      {% endif %}
      
    </tr>
    <tr>
      <th scope="row">10</th>
      <th>Course</th>
      <th>{{studentDetails.course}}</th>
    </tr>
    <tr>
      <th scope="row">11</th>
      <th>Semester</th>
      <th>{{studentDetails.semester}}</th>
    </tr>
  </tr>
  <tr>
    <th scope="row">12</th>
    <th>Section</th>
    {% if studentDetails.section == 'A' %}
        <th>A</th>
      {% elif studentDetails.section == 'B' %}
        <th>B</th>
      {% elif studentDetails.section == 'C' %}
        <th>C</th>
      {% else %}
        <th>D</th>
      {% endif %}
  </tr>
  
  <tr>
    <th scope="row">13</th>
    <th>Mentor</th>
    <th>{{studentDetails.mentor}}</th>
  </tr>
  
  </table>
</div>
  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }
     
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
    function reloadCurrentPage() {
      location.reload();  // Reload the current page
    }
    // const demo1 = document.getElementById('demo');
    // if(demo1){
    //   demo1.addEventListener("click", function(){

    //     window.location.href = "loginStudent"
    //   })
    // }
    </script>
{% endblock body %}